<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lmsazure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2c1caa67-442e-43df-9e62-2de4c6a08f47/resourceGroups/lmsazure_group/providers/Microsoft.Web/sites/lmsazure</ResourceId>
    <UserName>$lmsazure</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://lmsazure.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>